    <div class="fl w30">
      <ul>
        <li id="nav_1"><a href="{ctcms_url user=index}">会员中心</a></li>
        <li id="nav_2"><a href="{ctcms_url user=edit}">资料设置</a></li>
        <li id="nav_3"><a href="{ctcms_url user=edit/pass}">修改密码</a></li>
        <li id="nav_4"><a href="{ctcms_url user=fav}">我的收藏</a></li>
        <li id="nav_5"><a href="{ctcms_url user=pay}">充值升级</a></li>
        <li id="nav_6"><a href="{ctcms_url user=pay/card}">卡密充值</a></li>
        <li id="nav_7"><a href="{ctcms_url user=pay/lists}">充值记录</a></li>
        <li id="nav_8"><a href="{ctcms_url user=buy}">消费记录</a></li>
        <li id="nav_9"><a href="{ctcms_url user=fenxiao}">我的分销</a></li>
        <li id="nav_10"><a href="{ctcms_url user=tixian}">佣金提现</a></li>
      </ul>
    </div>