<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta property="og:type" content="image" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
  <meta http-equiv="Cache-Control" content="no-transform " />
  <title> 泡吧 - 会员管理中心</title>
  <meta property="og:site_name" content="Msvod" />
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
  <link href="{ctcms_indextemplets}/img/common.css" rel="stylesheet" type="text/css">
  <link href="{ctcms_indextemplets}/img/vip.css" rel="stylesheet" type="text/css">
  <!-- <link href="/1/statics/mscms/css/index.css" rel="stylesheet" type="text/css"> -->
  <!--[f IE]>
    <script src="/1/statics/mscms/js/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body class="vipPage">
  <div class="banner">
    <div class="wrap">
      <a href="/" class="logo"></a>

      <ul class="text">
        <li> <B>AG亚游与泡吧携手合作 充值免费送VIP</B></li>
        <li> 充值的金额可以去 <b>AG88888.VIP</b> 娱乐游戏</li>

        <li>开通好礼送不停，看片赢钱不间断 </li>
        <li>还有很多优惠活动，送豪车，送美女</li>

        <li>● VIP高清视频，在线观看</li>
        <li>● 全站无限观看，无任何限制</li>
        <li>● 全站无广告</li>

      </ul>
      <a href="javascript:;" class="btn" id="btnUpdate">立马升级</a>
    </div>
  </div>
  <div class="contrast wrap">
    <div class="title"><span>VIP用户与普通用户的权益对比</span></div>
    <div class="table-wrap">
      <div class="table">
        <table>
          <thead>
            <tr>
              <th>权益</th>
              <th><i class="ico-girl-normal"></i>普通用户</th>
              <th><i class="ico-girl-vip"></i>VIP用户</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>泡吧视频</td>
              <td>限制2部</td>
              <td class="high">无限制</td>
            </tr>
            <tr>
              <td>播放线路</td>
              <td>普通线路</td>
              <td class="high">VIP 线路</td>
            </tr>
            <tr>
              <td>VIP视频</td>
              <td>标清（SD）</td>
              <td class="high">高清（HD）</td>
            </tr>
            <tr>
              <td>视频广告</td>
              <td>有</td>
              <td class="high">无</td>
            </tr>
            <tr>
              <td>下载视频</td>
              <td>不允许</td>
              <td class="high">免费</td>
            </tr>
            <tr>
              <td>内容搜索</td>
              <td>5分钟/次</td>
              <td class="high">不限制</td>
            </tr>
            <tr>
              <td>标签分类</td>
              <td>单选</td>
              <td class="high">多选</td>
            </tr>
            <tr>
              <td>客服接待</td>
              <td>普通</td>
              <td class="high">优先</td>
            </tr>
            <tr>
              <td>网页广告</td>
              <td>有</td>
              <td class="high">无广告</td>
            </tr>

            <tr>
              <td>存取款</td>
              <td>普通</td>
              <td class="high">VIP优先</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="footer"></div>
  <div class="f12 footer">
    <div class="footbox">
      <div class="main">
        <div class="f-clo5 f-col5-1">
          <dl>
            <dt>关于泡吧</dt>
            <dd>
              一个专为华人服务的成人在线视频站！
            </dd>
            <dd>
              <img src="./1/uploadfile/2018/0820/20180820010036173.png" alt="" height="48" width="30" />
            </dd>
            <!--
<dd><a href="#">备用网址</a></dd>
<dd><a href="#">广告投放</a></dd>
<dd><a href="#">网址导航</a></dd>
<dd><a href="#">网址发布器</a></dd>
<dd><a href="#">视频资源</a></dd>
<dd><a href="#">网站论坛</a></dd>
-->
          </dl>
        </div>
        <div class="f-clo5 f-col5-2">
          <dl>
            <dt>会员中心</dt>
            <dd><a href="/index.php?m=member&c=index&a=register" target="_blank">注册会员</a></dd>
            <dd><a href="/index.php?m=member&c=index&a=login" target="_blank">会员登录</a></dd>
            <!--
<dd><a href="/index.php?m=content&c=index&a=list_vip&siteid=1" target="_blank">加入VIP</a></dd>
-->
            <dd><a href="/index.php?m=member&c=index" target="_blank">会员中心</a></dd>

          </dl>
        </div>
        <div class="f-clo5 f-col5-3">
          <dl>
            <dt>网站导航</dt>

            ﻿<dd><a href="/label-35--------.html">VIP视频</a></dd>
            <dd><a href="/label-36--------.html">免费视频</a></dd>

            <dd><a href="/show-14-428-1.html" target="_blank">新手帮助</a></dd>
            <dd><a href="/vip.html" target="_blank">加入VIP</a></dd>
            <dd><a href="/list-45-1.html" target="_blank">优惠活动</a></dd>
            <dd><a href="/index.php?m=content&c=index&a=lists&catid=40" target="_blank">APP下载</a></dd>


          </dl>
        </div>
        <div class="f-clo5 f-col5-4">
          <dl>
            <dt>联系我们</dt>
            <dd>周一至周五 9:00-18:00</dd>
            <dd style="font-size:13px;">广告合作QQ：384411866</dd>
          </dl>
        </div>
        <div class="f-clo5 f-col5-5">
          <dl>
            <dt>泡吧</dt>
            <dd>开发中</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="main">
        <p style="font-size:14px;">
          警告：本网站明确包含成人内容。<br>
          本网站严禁发表任何类型的儿童色情、兽交、强奸暴力，死亡或者其它不合法的内容。只有您年满18岁或者您在您的居住管辖区内属于成年人，您才能进入到本网站。如果你不符合这些要求或者所在的地区法律不允许成人内容，那么你就没有权限使用本网站，请立即离开！
        </p>
        <p align="center">
          <span>Copyright 2008 - </span><span>2018</span> <span>. All Rights Reserved</span>
        </p>
      </div>
    </div>
  </div>

  <script src="//libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
  <script>
    var token = localStorage.getItem('token')
    $('#btnUpdate').on('click', function () {
      window.open('http://uat.ag288.com/ucenter/pay/payIndex/?min=true&token=' + token, '_blank')
    })
  </script>

</body>

</html>