<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telphone=no, email=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{ctcms_title}</title>
    <meta name="keywords" content="{ctcms_keywords}" />
    <meta name="description" content="{ctcms_description}" />
    <link rel="stylesheet" type="text/css" href="{ctcms_indextemplets}/css/main.css">
    <link rel="stylesheet" type="text/css" href="{ctcms_indextemplets}/css/icon.css">
    <link rel="stylesheet" type="text/css" href="{ctcms_indextemplets}/css/common.css">
    <link rel="stylesheet" type="text/css" href="{ctcms_indextemplets}/css/topic.css">
    <link rel="stylesheet" type="text/css" href="{ctcms_indextemplets}/css/login.css">
    <link rel="stylesheet" type="text/css" href="{ctcms_indextemplets}/css/auto.css">
    <script src="//libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script>var ctcms_path = '{ctcms_path}';var optlink='{ctcms_url opt=ctcms}';</script>
    <script src="{ctcms_indextemplets}/js/common.js"></script>
    <!--[if IE]>
    <script src="{ctcms_indextemplets}/ie/html5shiv.js"></script>
    <script src="{ctcms_indextemplets}/ie/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    {ctcms_head}
    <script>$('#nav_index').addClass('active');</script>
    <main>
        <div class="container">
            <div class="topic-detail-top-box">
                <div class="middle-box">
                    <div class="page-link hide1232">
                        <a class="group left"><i class="icon page-route-home-icon left"></i>首页</a>
                        <a class="group left" href="{ctcms_topiclink}">&nbsp;&gt;专题&nbsp;</a>
                        <a class="group left">&nbsp;&gt;专题详情</a>
                    </div>
                    <div class="topic-introduce-box">
                        <div class="topic-img">
                            <a class="img" style="background:url([topic:pic]) center/cover no-repeat"></a>
                        </div>
                        <div class="topic-text">
                            <p class="name">[topic:name]</p>
                            <p class="text">[topic:text]</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="background-color:#f4f4f4">
                <div class="middle-box" style="position:relative">
                    <div class="topic-detail-left-box">
                        <div class="topic-detail-data-list">
                            <div class="list-title">
                                该专题包含的影片
                                <span class="right">共有[topic:count zd=vod,id,ztid]个影片，当前第1页</span>
                            </div>
                            {ctcms:vod table="vod" field="*" where="" page="10" order="addtime desc"}
                            <div class="data">
                                <div class="data-img left">
                                    <a class="img" href="[vod:link]" style="background:url([vod:pic]) center/cover no-repeat"></a>
                                </div>
                                <div class="data-info left">
                                    <div class="mid">
                                        <p class="name">[vod:name]</p>
                                        <div class="start">
                                            <i class="icon start-icon active"></i>
                                            <i class="icon start-icon active"></i>
                                            <i class="icon start-icon active"></i>
                                            <i class="icon start-icon active"></i>
                                            <i class="icon start-icon"></i>
                                        </div>
                                        <p class="text">主演：[vod:zhuyan]</p>
                                        <p class="text">导演：[vod:daoyan]</p>
                                        <p class="text">地区：[vod:diqu]&nbsp;&nbsp;&nbsp;年份：[vod:year]</p>
                                        <p class="text">类型：[vod:type]</p>
                                        <p class="text"><a href="[vod:link]">查看详情&gt;</a></p>
                                    </div>
                                </div>
                            </div>
                            {/ctcms:vod}
                        </div>
                        <div class="fy-box" style="padding-top:40px;padding-bottom:40px;{if:{ctcms_pagejs}<2}display:none;{end if}">
                            {if:{ctcms_page}>=2}
                            <li class="page"><a href="{ctcms_pageup}">&lt;</a></li>
                            {toif:{ctcms_page}>=7}
                            <li class="page page-index"><a href="{ctcms_pagefirst}">1</a></li>
                            {end toif}
                            {end if}
                            {ctcms_pagenum_7}
    
                            {if:{ctcms_page}<{ctcms_pagejs}}
                            <li class="page"><a href="{ctcms_pagedown}">&gt;</a></li>
                            {end if}
                        </div>
                    </div>
                    <div class="topic-detail-right-box hide1232">
                        <div class="right-topic-list">
                            <div class="box-title">
                                最新专题
                                <a class="more right" href="{ctcms_topiclink}">更多&gt;</a>
                            </div>
                            <div class="list">
                                {ctcms:topic table="topic" field="id,name,pic" where="" limit="10" order="addtime desc"}
                                <div class="data">
                                    <a class="data-pic" href="[topic:topiclink]" style="background:url([topic:pic]) center/cover no-repeat">
                                        <div class="pop">
                                            <div class="absolute-center">
                                                <p>[topic:name]</p>
                                                <p>———— [topic:count zd=vod,id,ztid]个影片 ————</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                {/ctcms:topic}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {ctcms_bottom}
</body>
</html>