<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telphone=no, email=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{ctcms_title}</title>
    <link rel="stylesheet" type="text/css" href="{ctcms_indextemplets}/css/main.css">
    <link rel="stylesheet" type="text/css" href="{ctcms_indextemplets}/css/icon.css">
    <link rel="stylesheet" type="text/css" href="{ctcms_indextemplets}/css/common.css">
    <link rel="stylesheet" type="text/css" href="{ctcms_indextemplets}/css/center.css">
    <link rel="stylesheet" type="text/css" href="{ctcms_indextemplets}/css/pop_style.css">
    <link rel="stylesheet" type="text/css" href="{ctcms_indextemplets}/css/auto.css">
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script>var ctcms_path = '{ctcms_path}',optlink='{ctcms_url opt=ctcms}',page_name='yjtx'</script>
    <script src="{ctcms_indextemplets}/js/common.js"></script>
    <!--[if IE]>
    <script src="{ctcms_indextemplets}/ie/html5shiv.js"></script>
    <script src="{ctcms_indextemplets}/ie/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    {ctcms_indexhead}
    <main>
        <div class="container" id="b">
                {ctcms_left}
                    <div class="center-page-content left">
                        <div style="overflow:auto">
                            <div class="center-page-content-tab">
                                <a class="tab active" href="{ctcms_url user=tixian}">佣金提现</a>
                                <a class="tab" href="{ctcms_url user=tixian/lists}">提现记录</a>
                            </div>
                        </div>
                        <div>
                            <div class="update-data-page" id="p1">
                                <form class="am-form am-form-horizontal" action="{ctcms_formurl}" method="post" data-am-validator>
                                    <div class="msg_tip" style="margin-bottom: 20px;font-weight: bold">当前可提现金额<label class="text-red"
                                            style="margin-left: 20px">[user:rmb]元</label></div>
                                    <div class="personal-page-update-date-box">
                                        <div class="update-data-group">
                                            <div class="group-title left">提现金额</div>
                                            <div class="group-update left"><input type="text" class="group-input-col12" placeholder="请输入提现金额" value="" name="rmb" required></div>
                                        </div>
                                        <div class="update-data-group">
                                            <div class="group-title left">提现银行</div>
                                            <div class="group-update left"><input name="yh" type="text" class="group-input-col12" placeholder="请输入提现银行" value="[user:tx_yh]" required></div>
                                        </div>
                                        <div class="update-data-group">
                                            <div class="group-title left">收款人名字</div>
                                            <div class="group-update left"><input type="text" name="xm" class="group-input-col12" placeholder="请输入收款人名字" value="[user:tx_xm]" required></div>
                                        </div>
                                        <div class="update-data-group">
                                            <div class="group-title left">收款账号</div>
                                            <div class="group-update left"><input type="text" name="kh" class="group-input-col12" placeholder="请输入收款账号" value="[user:tx_kh]" required></div>
                                        </div>
                                        <div class="update-data-group">
                                            <div class="group-title left">开户行地址</div>
                                            <div class="group-update left"><input type="text" name="city" class="group-input-col12" placeholder="请输入开户行地址" value="[user:tx_city]"></div>
                                        </div>
                                        <div class="update-data-group" style="margin-top: 36px;">
                                            <div class="group-title left hide1232">&nbsp;</div>
                                            <div class="group-update left"><button  type="submit" class="update-submit-btn">提现</button></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {ctcms_bottom}
    </div>
    {ctcms_indexbottom}
</body>
</html>