<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>[vod:name]在线观看,[vod:name]视频下载,[vod:name]资源，[vod:name]种子下载，[vod:name]手机观看-{ctcms_name}</title>
<meta name="keywords" content="[vod:name]，[vod:name]在线观看,[vod:name]视频下载,[vod:name]资源，[vod:name]种子下载" />
<meta name="description" content="[vod:name][vod:text len=150]"/>
<link href="{ctcms_indextemplets}/css/index.css" rel="stylesheet"  type="text/css" />
<link href="{ctcms_indextemplets}/css/style.css" rel="stylesheet"  type="text/css" />
<script type="text/javascript" src="{ctcms_indextemplets}/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{ctcms_indextemplets}/js/jquery.event.drag-1.5.min.js"></script>
<script type="text/javascript" src="{ctcms_indextemplets}/js/jquery.touchSlider.js"></script>
<script type="text/javascript" src="{ctcms_indextemplets}/js/common.js"></script>
</head>
<body>
{ctcms_head}
<div class="view-play">
<img src="[vod:pic]" height="200" width="160" />
<div class="video-text">
<h2>[vod:name]</h2>
<p><b>主演：</b>[vod:zhuyan]</p>
<p><b>类型：</b>[vod:type]</p>
<p><b>地区：</b>[vod:diqu]</p>
<p><b>年份：</b>[vod:year]</p>
<a href="[vod:playlink]">立即播放</a>
</div>
<div class="clr"></div>
</div>
<div class="video-list view-font">
<div id="mode"><b id="xl" class="selc">播放源</b><b id="jj">剧情简介</b></div>
<div id="A">
<span>[vod:text]</span>
</div>
{ctcms_zu}
<div id="B">
<div class="error_info" style="margin-bottom:18px;">&nbsp;&nbsp;{name}<br></div>
<ul>
   {ctcms_ji}
       <li><a id="p_{zu}_{xu}" href="{link}">{name}</a></li>
   {/ctcms_ji}
</ul>
<div class="clr"></div>
</div>
{/ctcms_zu}
</div>
<div class="video-list">
<h3>&nbsp;&nbsp;热门视频</h3>
<ul>
{ctcms:vod table="vod" field="id,cid,name,pic,info,state" where="cid={ctcms_cid}" limit="6" order="rhits desc"}
<li><a href="[vod:link]"><b>{if:[vod:cid]==2}[vod:state]{elseif:'[vod:info]'==''}高清{else}[vod:info]{end if}</b><img src="[vod:pic]" /><span>[vod:name]</span></a></li>
{/ctcms:vod}
</ul>
<div class="clr"></div>
</div>
<div class="video-list">
<h3>&nbsp;&nbsp;视频评论</h3>
<div style="text-align:left;">
{ctcms_pl}
</div>
<div class="clr"></div>
</div>
{ctcms_bottom}
</body>
</html>